@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Home Cook Network</h1>

    <br />
    <h4> Explore the recipes our users have made or submit your own recipe  </h4>

    <br />
    <a href="/Recipes" class="btn btn-lg btn-secondary">Explore recipes</a>
    <a href="/Recipes/Create" class="btn btn-lg btn-info">Create a recipes</a>
</div>
