@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>Your information is safely secured when accesing this site</p>
<p>Thank you for visiting this small project I made</p>
<p>-Adrian H.</p>
<a href="https://github.com/Azael-Hue/HomeFoodNetwork">GitHub Repo</a>